.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header__navbar {
  float: left;
  width: 54%;
  display: flex;
}

.hearder_navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hearder_navbar-item {
  display: inline-block;
  font-size: 14px;
}
.subMenu{
  border-bottom: #dadada solid 1px;

}
.header {
  height: 70px;
  width: 65vw;
  margin: 0 auto;
}

.hearder_navbar-item--menu {
  line-height: 30px;
}

.iconThreeDot {
  background-image: url("./images/ic_more_new.png");
  background-repeat: no-repeat;
  background-position-y: 16px;
  width: 24px;
  height: 30px;
}

.hearder_navbar-item--version {
  width: 96%;
  margin-top: 2px;
}

.header__menuselect {
  float: left;
}

.header__menuselect-search {
  background-image: url("./images/ic_search_icon.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 40px;
  height: 40px;
}

.header__menuselect-headphone {
  background-image: url("./images/ic_head.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 40px;
  height: 40px;
}
.header__menuselect-upload {
  background-image: url("./images/ic_cloud.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 40px;
  height: 40px;
}

.header__menuselect-coins {
  background-image: url("./images/ic_decor_ncoin.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}
.header__menuselect-list {
  list-style: none;
  display: flex;
}
.header-menuselect-item {
  display: inline-block;
  padding-right: 15px;
}
.header__menuselect-vip {
  text-decoration: none;
  color: #ffc40e;
  border: 1px solid #ffc40e;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 10px;
  font-weight: bold;
  background: rgba(255, 196, 14, 0.1);
}
.header-menuselect-item--vip{
  margin-top: 5px;
}
.header__menuselect--shadow {
  cursor: pointer;
  border-radius: 20px;
  background-position: center;
  background-color: #f2f2f2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
