.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header__navbar {
  float: left;
  width: 54%;
  display: flex;
}

.hearder_navbar-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.hearder_navbar-item {
  display: inline-block;
  font-size: 14px;
  width: 150px;
}

.subMenu {
  border-bottom: #dadada solid 1px;
}
.header {
  height: 70px;
  width: 66vw;
  margin: 0 auto;
}

.hearder_navbar-item--menu {
  line-height: 30px;
}

.iconThreeDot {
  background-image: url("./images/ic_more_new.png");
  background-repeat: no-repeat;
  background-position-y: 16px;
  width: 24px;
  height: 30px;
}

.hearder_navbar-item--version {
  width: 96%;
  margin-top: 2px;
}

.header__menuselect {
  float: left;
}

.header__menuselect-search {
  background-image: url("./images/ic_search_icon.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 35px;
  height: 35px;
}

.header__menuselect-headphone {
  background-image: url("./images/ic_head.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 35px;
  height: 35px;
}
.header__menuselect-upload {
  background-image: url("./images/ic_cloud.png");
  background-repeat: no-repeat;
  background-size: 60%;
  width: 35px;
  height: 35px;
}

.header__menuselect-coins {
  background-image: url("./images/ic_decor_ncoin.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
}
.header__menuselect-list {
  list-style: none;
  display: flex;
}
.header-menuselect-item {
  display: inline-block;
  padding-right: 10px;
}
.header__menuselect-vip {
  text-decoration: none;
  color: #ffc40e;
  border: 1px solid #ffc40e;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 10px;
  font-weight: bold;
  background: rgba(255, 196, 14, 0.1);
}
.header-menuselect-item--vip {
  margin-top: 5px;
}
.header__menuselect--shadow {
  cursor: pointer;
  border-radius: 20px;
  background-position: center;
  background-color: #f2f2f2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-list-0,
.menu-list-1,
.menu-list-2,
.menu-list-3,
.menu-list-4,
.menu-list-5,
.menu-list-6 {
  display: none;
  position: absolute;
  height: 340px;
  width: 510px;
  color: black;
}

.hearder_navbar-item-dropdown-category {
  background: #fff;
  border: 1px solid #d9d9d9;
  padding: 10px;
  box-shadow: 0 3px 8px rgb(3 3 3 / 26%);
  top: 68px;
}

.menu-item-0:hover,
.menu-item-1:hover,
.menu-item-2:hover,
.menu-item-3:hover,
.menu-item-4:hover,
.menu-item-5:hover,
.menu-item-6:hover {
  color: #2daaed;
}

.menu-item-0:hover .menu-list-0 {
  display: block;
}

.menu-item-1:hover .menu-list-1 {
  display: block;
}

.menu-item-2:hover .menu-list-2 {
  display: block;
}

.menu-item-3:hover .menu-list-3 {
  display: block;
}

.menu-item-4:hover .menu-list-4 {
  display: block;
}

.menu-item-5:hover .menu-list-5 {
  display: block;
}
.menu-item-6:hover .menu-list-6 {
  display: block;
}

.list-category {
  list-style: none;
  padding: 0;
  float: left;
  margin-right: 20px;
}
.list-category > li:first-child {
  font-weight: bold;
}
.list-category > li {
  padding-top: 4px;
}

.hearder_navbar-item-login {
  position: relative;
}

.hearder_navbar-item-login-img {
  width: 35px;
  border-radius: 16px;
}

.hearder_navbar-item-text-login {
  position: absolute;
  width: 75px;
  top: 8px;
  margin-left: 6px;
}

.hearder_navbar-item-arrow-down {
  width: 10px;
  position: absolute;
  left: 118px;
  top: 14px;
}
